@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", system-ui, sans-serif;
  --font-ovo: "Ovo", serif;

  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001F;
  

  /* Shadows */
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}
.auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
/* Horizontal scrollbar styling */
.scrollbar::-webkit-scrollbar {
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a3a3a3;
}


/* Gradient edge fade for horizontal scroll */
.fade-left,
.fade-right {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 48px;
  z-index: 10;
}

.fade-left {
  left: 0;
  background: linear-gradient(to right, #f9fafb, transparent);
}

.fade-right {
  right: 0;
  background: linear-gradient(to left, #f9fafb, transparent);
}
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}